* {
    border: 0;
}

body {
    display: box;
    box-orient: vertical;
    color: #fff;
    font-size: 1rem;
    font-family: sans-serif;
}

.main-title {
    letter-spacing: 2rem;
}

#message, #messages {
    width: 50%;
    height: 100%;
}

#message {
    display: flex;
    flex-direction: column;
}

#message>header, #messages table, body>header {
    overflow: hidden;
}

#message>header .metadata dd.subject, .fractal-analysis .error-intro strong, .fractal-analysis .report-intro, body>header h1 {
    font-weight: 700;
}

#messages, iframe.body {
    background: #fff;
}

#message .views .hidden {
    display: none !important;
}

#message .views .action, #message .views .tab, #message .views .tab a {
    display: inline-block;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.main {
    display: flex;
    height: calc(100vh - 2rem);
}

iframe.body {
    height: 100%;
}

iframe.body h1 {
    font-size: 1.3rem;
    margin: 0.5rem;
}

iframe.body form, iframe.body p {
    margin: 0 0.5rem 0.5rem;
    line-height: 1.25;
}

iframe.body .loading {
    color: #fff;
    margin-left: .5em;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 0.125rem;
    color: #fff;
    text-decoration: none;
    background: #3b82ec;
}

.button:focus, .button:hover {
    border-color: #999 #999 #666;
    text-decoration: none;
}

.button.active, .button:active {
    border-color: #666 #666 #999;
    color: #333;
    text-decoration: none;
    text-shadow: -1px -1px 0 #eee;
}

body>header {
    background: #3b82ec;
    border-bottom: 1px solid #ccc;
    height: 2rem;
}

body>header h1 {
    float: left;
    padding: 6px;
    background-size: 24px 24px;
    font-size: 1.1rem;
}

body>header h1 a {
    color: #000;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: .1s;
}

body>header h1 a:hover {
    color: #4183c4;
}

body>header nav.project {
    float: left;
}

body>header nav.app {
    float: right;
}

body>header nav li {
    display: block;
    float: left;
    border-left: 1px solid #ccc;
}

body>header nav li input {
    margin: 6px;
}

body>header nav li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

body>header nav li a:focus, body>header nav li a:hover {
    color: #333;
    text-decoration: none;
}

#messages {
    height: 100%;
    min-height: 3em;
    border-top: 1px solid #fff;
    overflow: auto;
}

#messages table {
    width: 100%;
}

#messages table thead tr {
    background: #eee;
    color: #333;
    position: sticky;
    top: 0px;
}

#messages table thead tr th {
    padding: .25em;
    font-weight: 700;
    color: #444;
    background: #3b82ec60;
}

#messages table tbody tr {
    cursor: pointer;
    transition: .1s;
    color: #333;
    padding: 1px 0;
}

#messages table tbody tr:hover {
    color: #000;
}

#messages table tbody tr:nth-child(2n) {
    background: #e8f0fc;
}

#messages table tbody tr.selected {
    background: #3b82ec;
    color: HighlightText;
}

#messages table tbody tr td {
    padding: 10px 5px;
}

#messages table tbody tr td.blank {
    color: #666;
    font-style: italic;
}

#resizer {
    padding-bottom: 5px;
    cursor: ns-resize;
}

#resizer .ruler {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}

#message>header .metadata {
    overflow: hidden;
    padding: 0 .5em .5em;
}

#message>header .metadata a, #message>header .metadata a:hover {
    text-decoration: none;
    color: #3b82ec;
}

#message>header .metadata dd, #message>header .metadata dt {
    padding: 10px;
    color: #000;
}

#message>header .metadata dt {
    float: left;
    clear: left;
    width: 8em;
    margin-right: .5em;
    text-align: left;
}

#message .views ul {
    padding: 0 .5em;
    border-bottom: 1px solid #3b82ec;
}

#message .views .tab a {
    padding: .5em;
    border: 1px solid #fff;
    color: #fff;
    border-width: 1px 1px 0;
    cursor: pointer;
    text-decoration: none;
    background: #3b82ec;
}

#message .views .tab:not(.selected):hover a {
    border-color: #999 #999 #666;
}

#message .views .tab.selected a {
    background: #fff;
    color: #000;
    border-width: 1px 1px 0;
    cursor: default;
}

#message .views .action {
    float: right;
    margin: 0 .25em;
}

#noscript-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    cursor: default;
    outline: 0;
}

#noscript {
    display: block;
    max-width: 100%;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);
}